{
    "presets": [
        [
            "@babel/preset-env",
            /** 
            * corejs for solution problem with error below
            * ReferenceError: regeneratorRuntime is not defined 
            */
            {
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        [
            "@babel/preset-react"
        ]
    ]
}