.result-detail {
    // padding: 0 1rem;
    // max-width: inherit;

    &__border-line {
        height: 90.25px;
        padding: 4vh 0;
        border-top: 1px solid rgb(112, 112, 112);
    }

    &__list {
        display: flex;
        flex-direction: row;
    }

    &__item {
        padding-left: 1rem;
        line-height: 1.5;
        width: 200vw;
        max-width: 200vw;        
    }

    &__item:nth-child(4) {
        padding-right: 1rem;
    }
}

// b {
//     width: inherit;
//     max-width: inherit;
// }