// Font
$mainFont             : 'Montserrat', sans-serif;

// Size
$mainFontColor        : #FFFFFF;
$mainFontSize         : 15px;
$mainFontWeight       : normal;
$mainFontStyle        : normal;
$mainLineHeight       : 1.2;
$mainLetterSpacing    : 0.02em;

$macAirDesktop        : 1440px;
$desktopWidth         : 1280px;
$smDesktopWidth       : 980px;
$tableWidth           : 768px;
$phoneWidth           : 480px;
$smPhoneWidth         : 375px;

// Colors
$darkShade100         : #1F2041;
$darkShade75          : rgba(31, 32, 65, 0.75);
$darkShade50          : rgba(31, 32, 65, 0.5);
$darkShade25          : rgba(31, 32, 65, 0.25);
$darkShade05          : rgba(31, 32, 65, 0.05);
$purple               : #BC9CFF;
$green                : #6FCF97;
$ink                  : #151A22;
$gray_6               : rgba(192, 195, 205, 0.5);
$awake                : #89A3FF;
$awake20              : rgba(137, 163, 255, 0.2);
$cardio               : #EFDD36;
$white                : #FFFFFF;
$white20              : rgba(255, 255, 255, 0.2);
$white30              : rgba(255, 255, 255, 0.3);
$white50              : rgba(255, 255, 255, 0.5);
$white70              : rgba(255, 255, 255, 0.7);